{% load i18n %}
<h1>{% trans "Recommendation" %}</h1>
<p>{% blocktrans with sender_email as sender_email %}{{ sender_email }} recommends this page to you:{% endblocktrans %}</p>
<p><a href="{{ url|default:tellafriend_full_url }}">{{ url|default:tellafriend_full_url }}</a></p></br>
        
{% if message %}{% trans "Message from sender:" %}</br><p>{{ message|linebreaks }}</p>{% endif %}