{% extends "tellafriend/tellafriend.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Recommend" %}</h1>
<div class="alert alert-success">
    {% trans "Your recommendation was sent out successfully." %}
</div>
{% endblock %}